.heroBackGround{
    background: url('./assets/images/Gradient background.png'); 
    background-position: center;
    background-size: cover;
   
}
.JoinUsBanner{
    background: url('../src/assets/images/vector2.png');
    background-position: center;
    background-size: cover;
    
}
.studentBG{
    background: url('./assets/images/studentvector.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 260px;
    position: relative;
}

.teacherBG{
    background: url('./assets/images/techerVector.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 260px;
    position: relative;
    margin-top: -90px;
    overflow: hidden;
    
}


 